<h1 style="text-align: center;margin-top: 10%;">404<br>{{errorcoment}}</h1>
<!-- const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
const current_date = document.getElementById('today_date');
let weathe_img = 'cloudi';
const temp_status = document.getElementById('temp_status');
const currentDay = ()=>{
  todayTime = new Date();
  let Days = weekday[todayTime.getDay()]
  console.log(Days);
  return Days
};
const currentTime = ()=>{
  todayTime = new Date();
  let Time = todayTime.toLocaleTimeString();
  console.log(Time);
  return Time
}
const todayDate = ()=>{
  todayTime = new Date();
  let today = todayTime.getDate()+" | "+ months[todayTime.getMonth()]+" | "+todayTime.getFullYear();
  console.log(today);
  return today
}
current_date.innerHTML = currentDay();
temp_status.innerHTML = currentTime(); -->


<!-- // https://api.openweathermap.org/data/2.5/weather?q=india&appid=9b759f1bf2f23cfccbe2f98fdb8f4b23 -->